<ion-header>
  <ion-navbar>
    <ion-title>{{model.title}}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only margin-right title="Refresh"
              [disabled]="disable.refreshButton"
              (tap)="refreshTapped()">
        <ion-icon name="refresh"></ion-icon>
      </button>

      <button ion-button icon-only margin-right title="More options..."
              [hidden]="deletionMode"
              (tap)="moreOptionsTapped($event)">
        <ion-icon name="more"></ion-icon>
      </button>

      <button ion-button icon-only margin-right color="danger" title="Delete selected"
              [hidden]="!deletionMode"
              (tap)="deleteSelectedTapped()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding (ionScroll)="isScrolling($event)">

  <ion-refresher [enabled]="!platforms.isBrowser()" (ionRefresh)="refreshTapped($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Conversation's messages -->
  <ion-list sliding="false">
    <ion-item *ngFor="let message of messages; let idx = index" no-padding class="message">

      <!-- Avatar -->
      <ion-avatar *ngIf="senderIsLoggedUser(message.sender())" item-start>
        <ngx-avatar name="{{describeSender(message)}}"></ngx-avatar>
      </ion-avatar>
      <ion-avatar *ngIf="!senderIsLoggedUser(message.sender())" item-end>
        <ngx-avatar name="{{describeSender(message)}}"></ngx-avatar>
      </ion-avatar>

      <ion-label>
        <!-- Message author -->
        <span>{{messageAuthor(message)}}</span>
        <span *ngIf="isAGroupConversation(message)"> &gt; {{messageTos(message)}}</span>
        <br/>

        <!-- Message and send date -->
        <p>
          <span [innerHTML]="message.content() | linky" class="content"></span><br/>
          <small [title]="sendDateFormattedToTheMillisecond(message)">
            {{sendDateFormatted(message)}}
            <ion-icon name="checkmark" [hidden]="message.hasBeenSent()"></ion-icon>
            <ion-icon name="done-all" [hidden]="!message.hasBeenSent()"></ion-icon>
          </small>
        </p>
      </ion-label>

      <!-- Deletion checkbox -->
      <ion-checkbox item-end *ngIf="deletionMode" [(ngModel)]="selectedMessages[message.messageId()]">
      </ion-checkbox>
    </ion-item>
  </ion-list>

  <!-- Message editor -->
  <form (ngSubmit)="sendTapped()" #conversationForm="ngForm">
    <ion-list>
      <ion-item *ngIf="isANewConversation()" no-padding>
        <ion-label class="blank" stacked></ion-label>
        <ion-input name="title" type="text" clearInput autocomplete="on" autocorrect="on"
                   placeholder="Conversation Title"
                   [disabled]="disable.titleField"
                   [(ngModel)]="model.title"
                   max="128" maxlength="128"></ion-input>
      </ion-item>

      <ion-item no-padding>
        <small>
          <strong>To:</strong>
          <span *ngFor="let contact of to; last as isLast">
            {{contact.description()}}{{!isLast ? ', ' : ''}}
          </span>
        </small>
        <button type="button" ion-button icon-only no-margin outline large float-end
                title="Recipients" color="secondary" class="square top-right-of-item"
                (tap)="messageRecipientsTapped()">
          <ion-icon name="people"></ion-icon>
        </button>
      </ion-item>

      <ion-item no-padding>
        <!-- suppress HtmlUnknownAttribute -->
        <!-- do not autofocus, otherwise the page "drops down" immediately to the bottom instead of scrolling smoothly -->
        <ion-textarea name="message" type="text" rows="4" autocomplete="on" autocorrect="on"
                      placeholder="Type your message here!"
                      [(ngModel)]="model.message"
                      required
                      (keydown.control.enter)="sendTapped()"
                      (ionBlur)="messageEditorTextAreaBlurred()"></ion-textarea>
      </ion-item>

      <ion-item no-padding class="send-button">
        <input id="attachmentFileInput" hidden type="file" #attachmentFileInput (change)="attachmentFileInputSelected()"/>

        <button type="button" ion-button icon-only no-margin clear large item-end title="Add attachment"
                (tap)="attachTapped()" [hidden]="disable.attachment">
          <ion-icon name="attach"></ion-icon>
        </button>

        <button type="submit" ion-button icon-only no-margin outline large float-end
                title="Send the message" color="primary" class="square bottom-right-of-item"
                [disabled]="!canSend()">
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-item>

      <ion-item class="space-for-virtual-keyboard"></ion-item>
    </ion-list>
  </form>

  <!-- Attachments -->

  <!-- TODO Re-enable once I can resume working on attachments -->
  <!--<ion-card [hidden]="!this.attachmentDataUrl">-->
    <!--<img [src]="this.attachmentDataUrl"/>-->
    <!--<ion-card-content>-->
      <!--<ion-card-title>{{this.model.attachment?.metadata?.filename}}</ion-card-title>-->
    <!--</ion-card-content>-->
  <!--</ion-card>-->

</ion-content>
