page-conversation {

  button.button.square.bottom-right-of-item {
      border-top-left-radius: 0;
  }
  button.button.square.top-right-of-item {
      border-bottom-left-radius: 0;
  }

  ion-item.message {

    user-select: text;

    .content {
      white-space: pre-line;
    }
  }

  ion-item.send-button {
    .item-inner {
      padding: 0 !important;
    }
  }
}
