<ion-tabs #mainTabs [selectedIndex]="1">
  <ion-tab #contactsNavCtrl tabIcon="people"
           [tabBadge]="notify.contacts ? '&nbsp;' : ''" tabBadgeStyle="danger"
           [root]="contactsTab"
           [show]="mustTabsShow()"></ion-tab>
  <ion-tab #conversationsNavCtrl tabIcon="chatboxes" [root]="conversationsTab" [show]="mustTabsShow()"></ion-tab>
</ion-tabs>
