<ion-header>
  <ion-navbar [hideBackButton]="false">
    <ion-title>Connect</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div>

    <form (ngSubmit)="searchTapped()" #connectForm="ngForm">

      <ion-list>

        <ion-item no-padding>
          <ion-label stacked>
            Pseudo
            <span class="sub-label"> (requires EXACT pseudo!)</span>
          </ion-label>
          <ion-input name="username" type="text" clearInput autocomplete="off" autocorrect="off" autofocus
                     [(ngModel)]="model.username"
                     required min="4" minlength="4" max="32" maxlength="32"
                     (ionBlur)="forceValidationOf('username')"></ion-input>
        </ion-item>

        <ion-item class="last-blank" padding-top></ion-item>

      </ion-list>

      <button type="submit" ion-button round block
              [disabled]="!connectForm.form.valid || this.disable.searchButton">
        Search
      </button>

    </form>

  </div>

  <div [@collapse]="display.profile" margin-top>
    <ion-list sliding="false">
      <ion-item>
        <ion-avatar item-start>
          <ion-icon class="large" name="person"></ion-icon>
        </ion-avatar>
        <h2>{{profile?.pseudo()}}</h2>
<!--        <p>{{profile?.username}}</p>-->
        <button ion-button icon-only clear large item-end title="Connect to {{profile?.pseudo()}}"
                [disabled]="this.disable.connectButton"
                (tap)="connectToPersonTapped()">
          <ion-icon name="add-circle"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="firstTime">
    <ion-list>
        <ion-item></ion-item>

        <ion-item no-padding sliding="false" class="alert-info">
          <p>Type in your contact's pseudo in the search field above so that you can request to connect with him or her.</p>
          <br/>
          <p>After the connection request has been sent (by tapping on the <ion-icon name="add-circle"></ion-icon> button), you'll have to wait for your contact to confirm it.</p>
          <br/>
          <p>Once connected you will be able to start a conversation from here by tapping the <ion-icon name="text"></ion-icon> symbol next to their name.</p>
          <br/>
          <p>Remember: it must be the <strong>EXACT</strong> pseudo, not just the first few letters! The reason for this is to help preventing unsolicited contact requests.</p>
        </ion-item>
    </ion-list>
  </div>

</ion-content>
