<ion-header>
  <ion-navbar [hideBackButton]="true">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title id="conversations-toolbar-title">Conversations</ion-title>

    <ion-buttons end>

      <button ion-button icon-only margin-right title="Switch to contacts"
              [hidden]="!platforms.isBrowser() || platforms.isMobileBrowser()"
              (tap)="switchToContactsTabTapped()">
        <ion-icon name="people" [color]="notify.contacts ? 'danger' : 'background'"></ion-icon>
      </button>

      <button ion-button icon-only margin-right title="Refresh"
              [hidden]="!platforms.isBrowser()"
              [disabled]="disable.refreshButton"
              (tap)="refreshRequested()">
        <ion-icon name="refresh"></ion-icon>
      </button>

    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content (ionScroll)="scrolling($event)">

  <ion-refresher [enabled]="!platforms.isBrowser()" (ionRefresh)="refreshRequested($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-fab top center edge>
    <button ion-fab mini icon-only color="secondary" title="Start a new conversation" (tap)="newConversationTapped()">
      <ion-icon name="create"></ion-icon>
    </button>
  </ion-fab>

  <ion-list sliding="false">

    <ion-item *ngIf="batteryIsOptimized" padding-right style="margin-bottom: -16px">
      <ion-item class="alert-warn" text-center (tap)="batteryOptimizationAlertTapped()">
        Mobile notifications might not work. Tap here to fix it!
      </ion-item>
    </ion-item>

    <ion-item *ngIf="newMobileVersion" padding-right style="margin-bottom: -16px">
      <ion-item class="alert-info" text-center>
        Version {{newMobileVersion}} of Seeld App is available!
        Download it on <a href="https://seeld.io" target="_blank">Seeld's official website</a>
      </ion-item>
    </ion-item>

    <ion-item *ngFor="let conversation of conversations">

      <ion-avatar item-start (tap)="conversationTapped(conversation)" tappable>
        <ngx-avatar name="{{lastSenderDescription(conversation)}}"></ngx-avatar>
      </ion-avatar>

      <span *ngIf="conversation.read()" (tap)="conversationTapped(conversation)" tappable>
        <ion-icon name="mail-open"></ion-icon>&nbsp;{{conversation.message().title()}}
      </span>
      <span *ngIf="!conversation.read()" (tap)="conversationTapped(conversation)" tappable>
        <ion-icon name="mail"></ion-icon>&nbsp;<strong>{{conversation.message().title()}}</strong>
      </span>
      <br/>

      <p (tap)="conversationTapped(conversation)" tappable>
        {{conversation.message().content()}}<br/>
        <small>{{participantsDescription(conversation.message())}}</small><br/>
        <small>{{sendDateFormatted(conversation.message().sendDate())}}</small>
      </p>

      <button ion-button icon-only clear large item-end
              title="More options..."
              (tap)="moreOptionsTapped($event, conversation)">
        <ion-icon name="more"></ion-icon>
      </button>

    </ion-item>

    <ion-item *ngIf="isFirstTime()">
      <ion-item></ion-item>

      <ion-item no-padding class="alert-info">
        <p>Hello {{loggedUserDescription()}}, and welcome to Seeld!</p>
        <br/>
        <p>This page is empty for now, but hopefully it will soon list the conversations you're having with your friends and contacts.</p>
        <br/>
        <p>
          A conversation is a group of exchanged messages.
          You can start as many conversations as you want, either with the <ion-icon name="create"></ion-icon> button or from the Contacts page
        </p>
        <br/>
        <p>
          From here you can access the Contacts page by tapping the <ion-icon name="people"></ion-icon> at the top right.
          That's where you can start connecting with the persons you know!
        </p>
      </ion-item>
    </ion-item>
  </ion-list>
</ion-content>
