<ion-header>
  <ion-navbar [hideBackButton]="!selectionMode">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Contacts</ion-title>

    <ion-buttons end>

      <button ion-button icon-only margin-right title="Switch to conversations"
              [hidden]="!platforms.isBrowser() || platforms.isMobileBrowser() || selectionMode"
              (tap)="switchToConversationsTabTapped()">
        <ion-icon name="chatboxes"></ion-icon>
      </button>

      <button ion-button icon-only margin-right title="Refresh"
              [hidden]="!platforms.isBrowser()" [disabled]="disable.refreshButton"
              (tap)="refreshRequested()">
        <ion-icon name="refresh"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-refresher [enabled]="!platforms.isBrowser()" (ionRefresh)="refreshRequested($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-fab top center edge [hidden]="selectionMode">
    <button ion-fab mini icon-only color="secondary" title="Connect with someone" (tap)="connectTapped()">
      <ion-icon name="person-add"></ion-icon>
    </button>
  </ion-fab>

  <ion-list sliding="false" [hidden]="selectionMode">
    <ion-item *ngFor="let events of contactRequestEvents">
      <ion-avatar item-start>
        <ngx-avatar name="{{events.contactRequest.describe()}}"></ngx-avatar>
      </ion-avatar>

      {{events.contactRequest.requesterPseudo()}}<br/>
      <p>
        {{events.contactRequest.requesterDisplayName()}}<br/>
        wants to connect with you! <!-- TODO The "wants to connect with you" bit should actually come from the contactRequest's requesterMessage -->
      </p>

      <button ion-button icon-only clear large item-end class="contact-request"
              title="Accept {{events.contactRequest.requesterPseudo()}} as contact"
              (tap)="contactRequestAccepted(events.eventId)">
        <ion-icon name="checkmark-circle"></ion-icon>
      </button>
      <button ion-button icon-only clear large item-end color="danger" class="contact-request"
              title="Reject {{events.contactRequest.requesterPseudo()}} as contact"
              (tap)="contactRequestRejected(events.eventId)">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <ion-list sliding="false">
    <ion-item *ngFor="let contact of contacts">
      <ion-avatar item-start>
        <ngx-avatar name="{{contact.description()}}"></ngx-avatar>
      </ion-avatar>

      <ion-label>
        {{contact.pseudo()}} <small><ion-icon *ngIf="contact.secretKey()" name="key" isActive="false"></ion-icon></small><br/>
        <p>
          {{contact.displayName()}}<br/>
          <small>{{contact.connectedSinceFormatted()}}</small>
        </p>
      </ion-label>

      <button ion-button icon-only clear large item-end
              title="Write to {{contact.pseudo()}}"
              [hidden]="selectionMode"
              (tap)="writeTo(contact)">
        <ion-icon name="text"></ion-icon>
      </button>

      <button ion-button icon-only clear large item-end
              title="More options..."
              [hidden]="selectionMode"
              (tap)="moreOptionsTapped($event, contact)">
        <ion-icon name="more"></ion-icon>
      </button>

      <ion-checkbox item-end [hidden]="!selectionMode" [(ngModel)]="selectedContacts[contact.pseudo()]"></ion-checkbox>
    </ion-item>

    <ion-item *ngIf="isFirstTime()">
      <ion-item></ion-item>

      <ion-item no-padding class="alert-info">
        <p>
          Looks like you haven't connected with anyone yet...
          Why not using that <ion-icon name="person-add"></ion-icon> button to start connecting with the persons you know?
        </p>
        <br/>
        <p>Once connected you will be able to start a conversation from here by tapping the <ion-icon name="text"></ion-icon> symbol next to their name.</p>
      </ion-item>
    </ion-item>
  </ion-list>

</ion-content>
