<ion-list no-margin>
  <button ion-item (tap)="deleteContact()">
    <ion-icon name="trash" color="danger"></ion-icon>
    <span margin-left class="danger">Remove this contact</span>
  </button>
</ion-list>
