
$text-color: color($colors, dark) !default;
$link-color: color($colors, primary) !default;
$background-color: color($colors, background) !default;
$subdued-text-color: #666 !default;

$toolbar-background: color($colors, primary) !default;
$toolbar-border-color: color($colors, danger) !default;
$toolbar-text-color: $text-color !default;
$toolbar-active-color: $link-color !default;
$toolbar-inactive-color: color($colors, danger) !default;

$text-input-highlight-color-valid: color($colors, secondary);
$text-input-highlight-color-invalid: color($colors, danger);
