<ion-header>
  <ion-navbar [hideBackButton]="false">
    <ion-buttons right>
      <button ion-button icon-only left (tap)="closeButtonTapped()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Seeld Client Logs</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item no-padding text-center class="alert-info">
      These are Seeld logs  <b>onthe client side</b>.
      You don't need to worry about these unless you're experiencing a bug OR you're curious about what Seeld logs.
      <b>We don't have access to these logs</b> unless you copy-paste them and send them to us.
    </ion-item>

    <button ion-button round block (tap)="copyLogsToClipboardTapped()">Copy logs to clipboard</button>

    <ion-item>
      <ion-label>Logging Level</ion-label>
      <ion-select interface="popover" [(ngModel)]="loggingLevel">
        <ion-option value="0">TRACE</ion-option>
        <ion-option value="1">DEBUG</ion-option>
        <ion-option value="2">INFO</ion-option>
        <ion-option value="3">WARN</ion-option>
        <ion-option value="4">ERROR</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngFor="let timestamp of timestamps" class="log-entry">
      <ion-label no-margin>
        <strong>{{timestamp}}</strong>
        <p><span [innerHTML]="entries[timestamp]"></span></p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
