<ion-header>
  <ion-navbar [hideBackButton]="true">
    <ion-buttons right>
      <button [hidden]="hide.closeButton" ion-button icon-only left (tap)="closeButtonTapped()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<!--  <div [@collapse]="display.connecting">-->
<!--    <div text-center>Connecting to server...</div>-->
<!--  </div>-->

<!--  <div [@collapse]="display.restoreKeys">-->
<!--    <p text-center *ngIf="display.login === 'hide'">Please import your account keys</p>-->
<!--    <p text-center *ngIf="display.login === 'show'">You can attempt to re-import your account keys... or try to enter your credentials again</p>-->
<!--    <import-account-keys (imported)="accountKeysImported($event)"></import-account-keys>-->
<!--  </div>-->

  <div [@collapse]="display.login">

    <form (ngSubmit)="loginTapped()" #loginForm="ngForm">

      <ion-grid no-padding>

        <ion-row nowrap align-items-start justify-content-start>
          <ion-col col-auto align-self-end>
            <ion-icon name="person"></ion-icon>
          </ion-col>
          <ion-col class="login-fields">
            <ion-label stacked>
              Pseudo
              <span class="sub-label"> (4 to 32 characters)</span>
            </ion-label>
            <input id="username" name="username" type="text" class="ionic-like"
                   autocorrect="off" autocapitalize="off"
                   [(ngModel)]="model.username"
                   autocomplete="username" required min="4" minlength="4" max="32" maxlength="32">
          </ion-col>
        </ion-row>

        <ion-row nowrap align-items-start justify-content-start>
          <ion-col col-auto align-self-end>
            <ion-icon name="key"></ion-icon>
          </ion-col>
          <ion-col class="login-fields">
            <ion-label stacked>
              Passphrase
              <span class="sub-label"> (14 to 128 characters)</span>
            </ion-label>
            <input id="passphrase" name="passphrase" [type]="passphraseField.type" class="ionic-like"
                   [(ngModel)]="model.passphrase"
                   autocomplete="current-password" required min="14" minlength="14" max="128" maxlength="128">
            <ion-icon [name]="passphraseField.icon" class="passphrase-toggle-icon"
                      (click)="togglePassphraseFieldVisibility()"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item class="last-blank" padding-top></ion-item>

      <button id="login-button" type="submit" ion-button round block color="primary"
              [disabled]="!loginForm.form.valid || this.disable.loginButton">Login</button>

    </form>

<!--  <button ion-button outline round block color="secondary" margin-top-->
<!--          [hidden]="display.restoreKeys === 'show'"-->
<!--          (tap)="showRestoreKeys()">Upload account keys</button>-->
<!---->
<!--  <button ion-button outline round block color="secondary" margin-top-->
<!--          [hidden]="display.login === 'show'"-->
<!--          (tap)="showLogin()">Back to login</button>-->

    <button ion-button round block color="secondary" margin-top (tap)="registerTapped()">Register !</button>

  <!--<button ion-button outline round block small color="secondary" margin-top>Enter invitation code</button>-->

    <div text-center margin-top="32px"><a tappable (tap)="disclaimerTapped()">Disclaimer</a></div>

  </div>

  <div [@collapse]="display.disclaimer">

    <div text-center><a tappable (tap)="disclaimerCloseTapped()">Close</a></div>

    <h1>Interpretation and Definitions</h1>

    <h2>Interpretation</h2>

    <p>The words of which the initial letter is capitalized have meanings defined
      under the following conditions.</p>

    <p>The following definitions shall have the same meaning regardless of whether
      they appear in singular or in plural.</p>

    <h2>Definitions</h2>

    <p>For the purposes of this Disclaimer:</p>

    <ul>
      <li>We means the persons having conceived and implemented the Application.</li>
      <li>You means the individual accessing the Service, or the company, or other
    legal entity on behalf of which such individual is accessing or using the
        Service, as applicable.</li>
      <li>Website refers to app.seeld.io (Seeld).</li>
      <li>Application means the software program provided by us downloaded
      by You on any electronic device named Seeld.</li>
      <li>Service refers to the Website or the Application or both.</li>
    </ul>

    <h1>Disclaimer</h1>

    <p>The information contained on the Service is for general information purposes
      only.</p>

    <p>We assumes no responsibility for errors or omissions in the contents
      of the Service.</p>

    <p>In no event shall We be liable for any special, direct, indirect,
    consequential, or incidental damages or any damages whatsoever, whether in an
    action of contract, negligence or other tort, arising out of or in connection
    with the use of the Service or the contents of the Service. We
    reserves the right to make additions, deletions, or modifications to the
    contents on the Service at any time without prior notice. </p>

    <p>We do not warrant that the Service is free of viruses or other
      harmful components.</p>

    <h1>External Links Disclaimer</h1>

    <p>The Service may contain links to external websites that are not provided or
      maintained by or in any way affiliated with us.</p>

    <p>Please note that We does not guarantee the accuracy, relevance,
      timeliness, or completeness of any information on these external websites.</p>

    <h1>Errors and Omissions Disclaimer</h1>

    <p>The information given by the Service is for general guidance on matters of
    interest only. Even if We take every precaution to insure that the
    content of the Service is both current and accurate, errors can occur. Plus,
    given the changing nature of laws, rules and regulations, there may be delays,
      omissions or inaccuracies in the information contained on the Service.</p>

    <p>We are not responsible for any errors or omissions, or for the results
      obtained from the use of this information.</p>

    <h1>Views Expressed Disclaimer</h1>

    <p>The Service may contain views and opinions which are those of the authors and
    do not necessarily reflect the official policy or position of any other
      author, agency, organization, employer or company, including We.</p>

    <p>Comments published by users are their sole responsibility and the users will
    take full responsibility, liability and blame for any libel or litigation that
    results from something written in or as a direct result of something written
    in a comment. We not liable for any comment published by users and
      reserve the right to delete any comment for any reason whatsoever.</p>

    <h1>No Responsibility Disclaimer</h1>

    <p>The information on the Service is provided with the understanding that We
    is not herein engaged in rendering legal, accounting, tax, or other
    professional advice and services. As such, it should not be used as a
    substitute for consultation with professional accounting, tax, legal or other
      competent advisers.</p>

    <p>In no event shall We or its suppliers be liable for any special,
    incidental, indirect, or consequential damages whatsoever arising out of or in
      connection with your access or use or inability to access or use the Service.</p>

    <h1>"Use at Your Own Risk" Disclaimer</h1>

    <p>All information in the Service is provided "as is", with no guarantee of
    completeness, accuracy, timeliness or of the results obtained from the use of
    this information, and without warranty of any kind, express or implied,
    including, but not limited to warranties of performance, merchantability and
    fitness for a particular purpose.</p>

    <p>We will not be liable to You or anyone else for any decision made or
    action taken in reliance on the information given by the Service or for any
    consequential, special or similar damages, even if advised of the possibility
      of such damages.</p>

    <h2>Contact Us</h2>

    <p>If you have any questions about this Disclaimer, You can contact We by visiting this page on our website: seeld.io/contact-us/</p>

    <div text-center><a tappable (tap)="disclaimerCloseTapped()">Close</a></div>

  </div>

</ion-content>
