<ion-menu [content]="appNav">

  <ion-header>
    <ion-toolbar>
      <ion-title id="menu-toolbar-title">{{getMenuTitle()}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
<!--      <button ion-item (tap)="accountKeysTapped()">Account Keys</button>-->
      <button ion-item (tap)="logsTapped()">View App logs</button>
      <button ion-item (tap)="deleteProfileTapped()" class="danger">Delete Profile</button>
      <button ion-item (tap)="logoutTapped()">Logout</button>
      <ion-item text-center><small>Ver: {{version}}</small></ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav #appNav [root]="rootPage"></ion-nav>
