// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// VARIABLES
$error-background: #ee4266;
$info-background: #e8e5f8;
$ion-label: #999;
$success-background: #bddb9c;
$warning-background: #ffbd8c;

// FIXES

// https://github.com/ionic-team/ionic/issues/16780#issuecomment-448388795
// Happens on Chrome / chromium 71+, but not on FF. This fixes it by removing "layout" from contain
ion-content.content {
  contain: size style;
}

// TYPOGRAPHY

.danger {
  color: color($colors, danger) !important;
  font-weight: bold !important;
}

.error {
  color: color($colors, danger);
}

%smaller-text {
  font-size: smaller;
}
.sub-label {
  @extend %smaller-text;
}

// FORM

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: color($colors, dark);
  -webkit-box-shadow: 0 0 0 1000px color($colors, background) inset;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 10px;
  border: solid 2px color($colors, light);
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  height: 2.75em;
  width: 100%;
}

input[type="text"].text-input,
input[type="password"].text-input {
  width: calc(100%);
}

textarea.text-input {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 10px;
  border: solid 2px color($colors, light);
  display: block;
  margin: 0;
  outline: 0;
  padding: 0.75em 1em;
  text-decoration: none;
  width: 100%;
}

ion-input.ng-invalid > input[type="text"],
ion-input.ng-invalid > input[type="password"],
ion-input.ng-invalid > input[type="email"],
ion-input.ng-invalid > input[type="tel"],
ion-input.ng-invalid > select {
  border-color: color($colors, danger);
}


input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
  border-color: color($colors, secondary);
}

ion-checkbox.checkbox div.checkbox-icon {
  height: 20px;
  width: 20px;
}

ion-checkbox.checkbox div.checkbox-checked div.checkbox-inner {
  top: -2px;
  height: 15px;
  width: 8px;
}

// BUTTONS

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  box-shadow: none;
  border-radius: 10px;
  border-width: 2px;
}

button.button.square {
  height: 2.8em !important;
  width: 3em !important;
}

button.no-margin {
  margin: 0 !important;
}

// ION-ICON

ion-icon.large{
  font-size: 40px;
}

// ION-ITEM

ion-item.last-blank {
  min-height: 0;
  height: 0;
  max-height: 0;
}

ion-item.space-for-virtual-keyboard {
  min-height: 0;
  height: 0;
  max-height: 0;
  padding-top: 96px;
}

ion-item > div.item-inner {
  border-bottom: 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  padding-right: 0 !important;
}

// ION LABEL

ion-label.label {
  margin-right: 0;

  .blank {
    margin: 0;
  }
}

// TOAST COMPONENT

.toast-wrapper {
  background: none !important;
}

.toast-error {
  .toast-button {
    color: color($colors, dark);
  }
  .toast-container {
    background-color: $error-background;
    border-radius: 10px;
  }
  .toast-message {
    color: color($colors, dark);
    text-align: center;
  }
}

.toast-info {
  .toast-button {
    color: color($colors, dark);
  }
  .toast-container {
    background-color: $info-background;
    border-radius: 10px;
  }
  .toast-message {
    color: color($colors, dark);
    text-align: center;
  }
}

.toast-success {
  .toast-button {
    color: color($colors, dark);
  }
  .toast-container {
    background-color: $success-background;
    border-radius: 10px;
  }
  .toast-message {
    color: color($colors, dark);
    text-align: center;
  }
}

.toast-warning {
  .toast-button {
    color: color($colors, dark);
  }
  .toast-container {
    background-color: $warning-background;
    border-radius: 10px;
  }
  .toast-message {
    color: color($colors, dark);
    text-align: center;
  }
}

// CUSTOM

.alert-info {
  color: color($colors, dark);
  background-color: $info-background;
  border-radius: 10px;
  margin-bottom: 4px;

  .label {
    @extend %smaller-text;
    margin: 0;
    padding: 8px;
    white-space: normal;
  }
}

.alert-warn {
  color: color($colors, dark);
  background-color: $warning-background;
  border-radius: 10px;
  margin-bottom: 4px;

  .label {
    @extend %smaller-text;
    margin: 0;
    padding: 8px;
    white-space: normal;
  }
}

input.ionic-like {
  background-color: transparent;
  font-size: 16px;
  height: 44px;
  margin: 8px 8px 8px 0;
  padding: 0 30px 0 16px;
}

input.ng-invalid.ionic-like {
  border-color: $error-background
}

ion-icon.passphrase-toggle-icon {
  cursor: pointer;
  opacity: 60%;
  position: absolute;
  right: -2px;
  top: 34px;
}

// IONIC ALERTS
.alert-message {
  overflow-y: auto;
}
