page-register {

  ion-col.passphrase-fields {

    ion-label {
      color: $ion-label;
    }
  }

  ion-icon {
    font-size: 28px;
    margin: 11px 8px 15px 0;
  }

  .registration-input-item .item-inner {
    margin-top: -8px;
  }
}
