<ion-header>
  <ion-navbar [hideBackButton]="false">
    <ion-buttons left>
      <button ion-button icon-only left (tap)="backButtonTapped()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form *ngIf="registrationAvailable === true" (ngSubmit)="registerTapped()" #registrationForm="ngForm" autocomplete="off">

    <ion-item no-padding text-center class="alert-info">
      Your <strong>pseudo</strong> is unique to your account. It cannot be changed after creating the account.
      <strong>It is what you use to login</strong>!
    </ion-item>

    <ion-item no-padding margin-bottom class="registration-input-item">

      <ion-label stacked>
        <span [class.error]="usernameNgModel?.errors?.usernameIsAvailable?.available === false">Pseudo</span>
        <span class="sub-label" [hidden]="usernameNgModel?.errors?.usernameIsAvailable?.available === false"> (4 to 32 characters)</span>
        <span class="sub-label error" [hidden]="usernameNgModel?.errors?.usernameIsAvailable?.available !== false"> is not available!</span>
      </ion-label>
      <ion-input name="pseudo" type="text" clearInput autocomplete="off" autocorrect="off" autofocus
                 [(ngModel)]="model.username" #usernameNgModel="ngModel"
                 [usernameIsAvailable]="usernameNgModel" required min="4" minlength="4" max="32" maxlength="32"
                 (ionBlur)="refreshValidationOfPseudo()"></ion-input>
    </ion-item>

    <ion-item no-padding text-center class="alert-info">
      Your <strong>display name</strong> is only shown to people that connected with you, or when you are requesting to connect with someone.
    </ion-item>

    <ion-item no-padding margin-bottom class="registration-input-item">
      <ion-label stacked>
        Display Name
        <span class="sub-label"> (up to 64 characters)</span>
      </ion-label>
      <ion-input name="displayName" type="text" clearInput autocomplete="off" autocorrect="off"
                 [(ngModel)]="model.displayName"
                 max="64" maxlength="64"
                 (ionBlur)="forceValidationOf('displayName')"></ion-input>
    </ion-item>

    <ion-item no-padding text-center class="alert-info">
      A <strong>passphrase</strong> is a phrase or set of words.
      Its like a password, but longer and stronger.
      Check <a href="https://en.wikipedia.org/wiki/Passphrase" target="_blank">https://en.wikipedia.org/wiki/Passphrase/</a> for more info!
    </ion-item>

    <ion-grid no-padding>
      <ion-row nowrap align-items-start justify-content-start>
        <ion-col class="passphrase-fields">
          <ion-label stacked>
            Passphrase
            <span class="sub-label"> (14 to 128 characters)</span>
          </ion-label>
          <input name="passphrase" [type]="passphraseField.type" class="ionic-like"
                 autocomplete="new-password" autocorrect="off"
                 [(ngModel)]="model.passphrase" #passphraseNgModel="ngModel"
                 required min="14" minlength="14" max="128" maxlength="128"
                 (focus)="scrollToBottom()">
          <ion-icon [name]="passphraseField.icon" item-end class="passphrase-toggle-icon"
                    (tap)="togglePassphraseFieldVisibility()"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row nowrap align-items-start justify-content-start>
        <ion-col class="passphrase-fields">
          <ion-label stacked>
            Repeat Passphrase
          </ion-label>
          <input name="passphraseRepeated" [type]="passphraseField.type" class="ionic-like"
                 autocomplete="new-password" autocorrect="off"
                 [(ngModel)]="model.passphraseRepeated"
                 required min="14" minlength="14" max="128" maxlength="128" [fieldMatches]="passphraseNgModel">
          <ion-icon [name]="passphraseField.icon" item-end class="passphrase-toggle-icon"
                    (tap)="togglePassphraseFieldVisibility()"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item no-padding class="last-blank"></ion-item>

    <div padding-top></div>

    <button type="submit" ion-button round block margin-top
            [disabled]="!registrationForm.form.valid || !enableRegisterButton">Register!</button>
  </form>

  <form *ngIf="registrationAvailable === false">

    <ion-list>

      <ion-item no-padding text-center class="alert-warn">
        <strong>Wow, it looks like we're having a huge demand!</strong>
      </ion-item>

      <ion-item no-padding text-center class="alert-warn">
        You're seeing this message because Seeld is currently getting a lot of attention.<br/>
        Of course that makes us really happy! But it also means that our ring of servers have reached their max capacity.<br/>
        <br/>
        Fear not: we have been notified of this situation and are now working to increase our server power. Hopefully you should very soon be able to create your account.<br/>
        <br/>
        Keep an eye on our RSS feed to keep track of our infrastructure situation...<br/>
        Thanks for your patience and understanding!
        <br/>
        The Seeld Team
      </ion-item>
    </ion-list>
  </form>
</ion-content>
