<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (tap)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Configuration</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>

    <ion-list-header><strong>Backup your account keys!</strong></ion-list-header>

    <ion-item>
      <button ion-button round item-end icon-end
              (tap)="saveToFile()">
        Save to file
        <ion-icon name="download" item-start></ion-icon>
      </button>
    </ion-item>

    <ion-list-header>Import your account keys</ion-list-header>

    <ion-item>
      <button ion-button round item-end icon-end
              (tap)="importAccountKeys.attachTapped()">
        Load from file
        <ion-icon name="document" item-start></ion-icon>
      </button>
    </ion-item>

  </ion-list>

  <a id="saveToFileLink" hidden download="" href=""></a>

  <import-account-keys hidden #importAccountKeys (imported)="accountKeysImported($event)"></import-account-keys>

</ion-content>
